.Home {
  width: 100%;
}

.ChartsItem {
  display: flex;
}

.PieChart {
  display: flex;
  width: 500px;
}
.Separtor {
  border: 1px solid #e6e9ed;
  border-radius: 1px;
  margin: 0px 10px 0px 0px 15px;
}
.BarChartc{
  display: flex;
 
  width: 600px;
}

.bottom_side{
  margin-bottom: 10%;
}

.TopBar{
  margin-top: 0px;
  background: #F7F7F7;
  width: 100%;
  height: 50px;
  
  position: sticky;
  top: 0;
  
  z-index: 999;
}

.topbarWrapper{
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
}
.logo{
  font-weight: 550;
  margin-right: 20px;
  font-size: 20px;
  color: #2a3f54;
  cursor: pointer;
}
.topright{
  display: flex;
  align-items: center;
}
.topbarIconsContainer{
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}
.topIconBadge{
  position: absolute;
  top: -5px;
  right: -2px;
  background-color: red;
 
  border-radius: 50%;
  height: 13px;
  width: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

}
.topAvatar{
  margin-left:10px;
  cursor: pointer;
  width: 40px;
  height:40px ;
  border-radius: 50%;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {

  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}